html
  head
    title Greeting
    style 
      include ../assets/styles/greet.css
  body
  .card
    h1 Hello, #{name}! 
    p Your age is: #[strong #{age}] 
    p Your email is: #[strong #{email}]
    a(href="/") Go back