doctype html
html(lang="en")
  head
    title Parcial02 
    style 
      include ../assets/styles/index.css
  body 
    h1 
      | Hi, Welcome
      span.wave 👋 
    a(href="/form") Personal Information